.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.news-item {
	max-width: 300px;
	margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 4rem;
	p {
		max-width: 60rem;
		margin: 0 auto;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-main {
	padding: 5rem 2rem 0;
	max-width: 62rem;
	margin: 0 auto;
}

.site {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.wp-container-3{
	margin-bottom: 4rem;
}

@media (min-width: 900px) {
	.news {
		display: flex;
		justify-content: space-around;
	}
}