.site-header {
	background-color: #111;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	a {
		color: #fff;
	}
}


.site-branding {
	padding: 1rem;
}

.site-title {
	font-size: 1.875rem;
	margin: 0;
}

.site-description {
	margin: 0;
}

@media screen and (min-width: 50em) {
	.site-branding {
		text-align: center;
	}

	.site-header {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 25rem) minmax(auto, 37.5rem) 1fr;
		justify-content: center;
	}

	.site-branding {
		grid-column: 2/3;
		text-align: left;
	}

}