.main-navigation {

	.menu-main-menu-container {
		background-color: #111;
		position: absolute;
		top: 3.5rem;
		left: 0;
		right: 0;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		ul {
			background-color: grey;
			position: relative;
			width: 100%;
			z-index: 9999999;
			text-align: center;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				left: 0;
				right: 0;
			}

			a {
				width: 100%;
				padding: 1rem 0;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		text-transform: uppercase;
		font-size: 1.1rem;

		&:hover,
		&.focus {
			background-color: #305c9f;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 1rem;
	}

	.current_page_item > a,
	.current-menu-item,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: #305c9f;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background: none;
	border: 0;
	padding: 0.6em 0 0.4em;
	svg {
		height: 2.5rem;
		width: 2.5rem;
		fill: #fff;
	}
}

@media screen and (min-width: 48em) {

	.logged-in .sub-menu {
		top: 5.8rem;
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		padding-left: 6rem;
		.menu-main-menu-container {
			position: relative;
			top: 0;
			background-color: transparent;
		}
		ul {
			display: flex;
			ul {
				background-color: #111;
				position: fixed;
				top: 3.8rem;
				left: -999rem;
				max-width: 15rem;
				flex-direction: column;
				li {
					left: 0;
					text-align: left;
					padding-left: 1.5rem;
					font-size: 0.95rem;
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

