.main-navigation {
	padding-right: 1rem;

	.menu-main-menu-container {
		background-color: #111;
		position: absolute;
		top: 3.5rem;
		left: 0;
		right: 0;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 1rem;
		text-transform: uppercase;
		font-size: 1.1rem;

		&:hover,
		&.focus {
			background-color: #305c9f;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: #305c9f;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background: none;
	border: 0;
	svg {
		height: 2.5rem;
		width: 2.5rem;
		fill: #fff;
	}
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		.menu-main-menu-container {
			position: relative;
			top: 0;
			background-color: transparent;
		}
		ul {
			display: flex;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
